aiohttp>=3.7.4.post0
async-timeout>=3.0.1
attrs>=21.2.0
certifi>=2021.5.30
chardet>=4.0.0
charset-normalizer>=2.0.4
gql>=2.0.0
graphql-core>=2.3.2
idna>=3.2
multidict>=5.1.0
pipe>=1.6.0
promise>=2.3
PyYAML>=5.4.1
requests>=2.26.0
Rx>=1.6.1
six>=1.16.0
typing-extensions>=3.10.0.0
urllib3>=1.26.6
yarl>=1.6.3
