# Producing this list was done using the following process:
# 1. Create a temporary `req.txt` file containing only the basic
#    non-distribution provided packages, e.g. `aiohttp[speedups]`,
#    `PyYAML`, `gql[requests]`, `requests` (see cirrus-ci_artifacts.py,
#    actual requirements may have changed)
# 2. From a Fedora:latest container, install python3 & python3-virtualenv
# 3. Setup & activate a temporary virtual environment
# 4. Execute `pip3 install --requirements req.txt`
# 5. Run pip3 freeze
# 6. Edit `requirements.txt`, add the `~=` specifier to each line along
#    with the correct two-component version number (from freeze output)
# 7. In a fresh container, confirm the automation installer
#    functions with the cirrus-ci_artifacts component (see main README
#    for installer instructions)
PyYAML~=6.0
aiohttp[speedups]~=3.8
gql[requests]~=3.3
requests~=2.28
